assets/.DS_Store
assets/Donate.url
assets/Facebook.url
assets/Spritesheet/buildingTiles_sheet.xml
frontend/node_modules/
frontend/.next
# frontend/package-lock.json
.playwright-mcp/
frontend/out/
frontend/public/.DS_Store
